

<!-- extending base -->
{% extends 'base/app_base.html' %}
<!-- title block for html page -->
{% block title %}
{% endblock title %}
<!-- metatags block for html page -->
{% block metatags %}
{% endblock metatags %}
<!-- content block for html page -->
{% block content %}
<div class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-lg">
    <p class="text-lg font-semibold text-gray-700">Hello,{{ user.email }}</p>
    <p class="text-gray-600 mt-2">
        Click the link below to Verify your Account:
    </p>
    <div class="mt-4">
        <a href="http://{{ domain }}/accounts/activate/{{ uid }}/{{ token }}/"
            class="inline-block px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-lg text-sm font-medium">
            Verify Account
        </a>
    </div>
    <p class="text-gray-500 mt-4 text-sm">
        If you didn’t request a password reset, please ignore this email.
    </p>
</div>
{% endblock content %}