
<!-- extending base -->
{% extends 'base/app_base.html' %}
<!-- title block for html page -->
{% block title %}
{% endblock title %}
<!-- metatags block for html page -->
{% block metatags %}
{% endblock metatags %}
<!-- content block for html page -->
{% block content %}
<!-- component -->
<div class="bg-sky-100 flex justify-center items-center h-screen">
  <!-- Left: Image -->
<div class="w-1/2 h-screen hidden lg:block">
<img src="https://img.freepik.com/fotos-premium/imagen-fondo_910766-187.jpg?w=826" alt="Placeholder Image" class="object-cover w-full h-full">
</div>
<!-- Right: Login Form -->
<div class= "lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
<h1 class="text-2xl font-semibold mb-4">Enter Email to get reset link</h1>
<form  method="POST">
  {% csrf_token %}
  <!-- Email Input -->
  <div class="mb-4 bg-sky-100" >
    <label for="id_email" class="block text-gray-600">Email :</label>
    <input type="email" id="id_email" name="email" placeholder="Enter registered email" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
  </div>

  <!-- Login Button -->
  <button type="submit" class="bg-red-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full">Send reset link to email</button>
</form>
<!-- Sign up  Link -->
<div class="mt-6 text-green-500 text-center">
  <a href="{% url 'login' %}" class="hover:underline">return to login</a>
</div>
</div>
</div>
{% endblock content %}